.btn {
  height: 30px;
  font-size:12px;
  display:inline-block;
  line-height:30px;
  border-radius:3px;
  cursor:pointer;
  padding-left:8px;
  padding-right:8px;
}

.btn-success {
  background-color:#7a5de8;
  coloer:white;
}

.btn-danger {
  background-color:crimson;
}

.h1 {
  font-size:36px;
}

.h2 {
  font-size:24px;
}

.h3 {
  font-size:16px;
}

.fm {
  font-size:14px;
}

.default_textarea{
  resize:none;
  border: 1px solid #dcdcdc;
  border-radius:3px;
  font-family: "Arial";
}

a {
  text-decoration:none;
}